body {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans', sans-serif;
  font-size: 0.9em;
}
#head-group {
  width: 100%;
  height: 110px;
  background: white;
  padding-top: 10px;
}
#top-nav {
  height: 60%;
  display: flex;
  justify-content: flex-start;
  justify-content: space-around;
}
#top-nav img {
  height: 55px;
}
input#search-bar{
  margin: 0 auto;
  width: 100%;
  height: 40px;
  padding: 0 50px;
  font-size: 1.5em;
  border: 1px solid #D0CFCE;
  outline: none;
 }
.search-icon{
  position: relative;
  float: right;
  right: -100px;
  top: -50px;
  cursor: default;
}
#country {
  color: #aaa;
}
#country div {
  display: flex;
  justify-content: space-around;
  margin-top: 5px;
}
#country li {
  list-style-type: none;
}
#country .white-link:hover {
  background-color: grey;
}
.grey-link{
  text-decoration: none;
  color: #aaa;
}
#active-country {
  background: #aaa;
  color: white;
  border-radius: 10%;
}
#bottom-nav {
  width: 100%;
  border-top: 1px solid #aaa; 
  padding-top: 10px;
}
#bottom-nav div {
  width: 90%;
  display: flex;
  justify-content: space-around;
  margin-right: 20px;
}
#bottom-nav li {
  text-transform: uppercase;
  list-style-type: none;
  cursor: pointer;
}
#bottom-nav li:hover {
  color: #4A9E72;
}
.banner {
  width: 100%;
  margin-bottom: 50px;
  min-height: 500px;
  background: url(../images/1.JPG) no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
  position: relative;
}
#banner2 {
  position: relative;
  background: url(../images/header-circle.png) no-repeat right -106px;
  width: 800px;
  min-height: 500px;
  padding-top: 35px;
}
#banner-text {
  width: 75%;
  margin-left: 70px;
  margin-top: 30px;
}
#banner-text h1 {
  font-size: 2.5em;
}
#banner-text p {
  font-size: 1.3em;
  line-height: 30px;
  font-weight: lighter;
  margin-bottom: 40px;
}
.button {
  height: 35px;
  width: 200px;
  background: #4A9E72;
  font-weight: bold;
}
.btn-border {
  border: 2px solid #E9D460;
  text-align: center;
  padding-top: 12px;
  transition: background 0.3s, border 0.3s;
}
.btn-border:hover {
  border: 2px solid #4A9E72;
  background: #E9D460;
  cursor: pointer;
}
.sites {
  margin-top: 60px;
  left: 0;
}
.sites li {
  margin-right: 20px;
  list-style-type: none;
  float: left;
}
.white-link {
  color: white;
  text-decoration: none; 
}
#vid-play {
  cursor: pointer;
  position: absolute;
  right: -30%;
  top: 35%;
}
#vid-play img {
  height: 50px;
}
#vid-play p {
  position: absolute;
  right: -150%;
  width: 150px;
}
